.card-shadow{
    border: 0;
}
.panda-card-fotter{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
    
}
.panda-slid .carousel-item{
background-color: #fab79f;
border-radius: 1em;
}


